.main-wrapper {

    width: 100vw;
    height: 100vh;   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 0 2rem;

    .left-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
            width: 70%;
            max-width: 360px;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 360px;

        .forgot-password-container {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-bottom: 20px;

            a {
                display: block;
                text-align: right;
                text-decoration: none;
                color: #999;
                font-size: 0.9rem;
                transition: .3s;

                &:hover {
                    color: #38d39f;
                }
            }
        }
        .login-btn-container {
            width: 100%;

            input {
                display: block;
                width: 100%;
                height: 50px;
                border-radius: 25px;
                outline: none;
                border: none;
                background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
                cursor: pointer;
                color: #fff;
                background-size: 200%;
                transition: .5s;

                &:hover {
                    background-position: right;
                }
            }
        } 
    }

    .input-form-container {
        width: 100%;

        h2 {
            font-size: 3rem;
            text-transform: uppercase;
            margin: 15px 0;
            color: #333;
            text-align: center;
        }
    }

    .input-wrapper {
        display: grid;
        grid-template-columns: 7% 93%;
        margin: 25px 0;
        padding: 5px 0;
        border-bottom: 2px solid #d9d9d9;
        
        .input-container {
            position: relative;
            height: 45px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            h5 {
                position: absolute;
                left: 10px;
                color: #999;
                font-size: 18px;
                top: 50%;
                transform: translateY(-50%);
                transition: .3s;
                z-index: 2;
            }
            
            .input {
                width: 100%;
                border: none;
                outline: none;
                padding: 0.5rem 0.7rem;
                font-size: 1.2rem;
                color: #555;
            }
        }
        .i {
            color: #d9d9d9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &.focus {
            border-bottom-color: #38d39f;
            
            h5 {
                font-size: 15px;
                top: -5px;
            }

            .i {
                color: #38d39f;
            }
        }

    }

    @media screen and (max-width: 1050px) {
        .left-image img,
        .form-container
         {
            width: 290px;
        }

    }

    @media screen and (max-width: 710px) {
        .left-image {
            display: none;
        }
        grid-template-columns: 1fr;
        justify-items: center;

    }

}